<!DOCTYPE html>
html
    head
        - var page = { title: 'Блоки питания' }
        include inc/head
    body

        include inc/header
        include inc/category/content
        include inc/footer
        include inc/scripts