<!DOCTYPE html>
html
    head
        - var page = { title: 'Блок питания Venom Негерметичный 12V 15Вт' }
        include inc/head.pug
    body

        include inc/header.pug
        include inc/product/content.pug
        include inc/footer.pug
        include inc/scripts.pug