<!DOCTYPE html>
html
    head
        - var page = { title: 'Возврат' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/return/content.pug
        include inc/footer.pug
        include inc/scripts.pug
