main
    .page_content
        .container
            ul.breadcrumb
                li
                    a(href="#") Главная
                li
                    a(href="#") #{page.title}

            .content_404
                .title_404 Упс... Похоже эту страницу мы не нашли, но у нас много других товаров в <a href="#">каталоге</a>