main
    .page_content
        .container
            ul.breadcrumb
                li
                    a(href="#") Главная
                li
                    a(href="#") #{page.title}


            h1.page_title #{page.title}
            .page_seotext
                .box_title
                    .title Условия возврата и обмена
                .desc
                    p 1.Потребитель вправе в течение каждым днём всё больше светодиодная лента представляет собой гибкую печатную плату, которая усеяна светодиодами и резисторами. Она предназначается для использования. Светодиодное освещение — одно из перспективных направлений технологий искусственного освещения, основанное на использовании светодиодов в качестве источника света.
                    p 2.Требование потребителя развитие светодиодного освещения непосредственно связано с достижениями в технологии белых светодиодов. Разработаны так называемые сверхъяркие светодиоды, специально предназначенные для искусственного освещения. В сравнении с обычными лампами накаливания, а также люминесцентными лампами светодиодные источники света обладают многими преимуществами.
                    p 3.Перечень непродовольственных схемотехнике источников питания, применении качественных компонентов и обеспечении надлежащего теплового режима, срок службы светодиодных систем освещения при сохранении приемлемых.
                    p 4.При возврате потребителем поизводители светодиодов из-за постоянного обновления и совершенствования продукции не имеют возможности проводить тестирование в реальном времени и указывают прогнозируемый срок службы, используя специальные методики, такие как TM-21 и IESNA LM-80. Большой срок службы в некоторых применениях играет решающую роль. Так, экономия на обслуживании и замене ламп в уличных светильниках зачастую превышает экономию на электроэнергии.

            .return
                .box_title
                    .title Заявка на обмен/возврат
                form.return_form
                    .row
                        .col_4.field
                            label Номер заказа *
                            input.form_control(type="text" placeholder="Например, 123456789" required)
                        .col_4.field
                            label Дата заказа *
                            input.form_control(type="date" placeholder="ДД.ММ.ГГГГ" required)
                        .col_4.field
                            label Артикул товара *
                            input.form_control(type="text" placeholder="Например, 123456789" required)
                    .row
                        .col_4.field
                            label Количество *
                            input.form_control(type="text" placeholder="Например, 10" required)
                        .col_4.field
                            label Email *
                            input.form_control(type="email" placeholder="email@example.com" required)
                        .col_4.field
                            label Телефон *
                            input.form_control.phone(type="text" placeholder="+375(_ _) _ _ _ _ _ _ _ " required)
                    .row
                        .col_4.field
                            label Фамилия *
                            input.form_control(type="text" placeholder="Например, Олегов" required)
                        .col_4.field
                            label Имя *
                            input.form_control(type="text" placeholder="Например, Олег" required)
                        .col_4.field
                            label Отчество *
                            input.form_control(type="text" placeholder="Например, Олегович" required)
                    -var checkbox=['Товар не соответствует описанию','Товар неисправен/ поломан','Гарантийный случай в процессе эксплуатации','Иная причина'];
                    .row
                        .col_12
                            label Причина возврата *
                        .row
                            for ch,  index in checkbox
                                if index===0
                                    .col_3.field
                                        .reason_return_item
                                            input(type="radio" name="reason_return" id="radio_1" + index + "" checked)
                                            label(for="radio_1" + index + "")
                                                picture
                                                    img(src="img/return/" + index + ".svg")
                                                span=ch
                                else

                                    .col_3.field
                                        .reason_return_item
                                            input(type="radio" name="reason_return" id="radio_1"+index+"")
                                            label(for="radio_1"+index+"")
                                                picture
                                                    img(src="img/return/"+index+".svg")
                                                span=ch
                    .row
                        .col_12.field
                            label Подробное описание
                            textarea.form_control(placeholder="Более детально опишите ситуацию")
                    .row
                        .col_12.field
                            input.file(type="file")
                    .row
                        .col_12
                            p Поля обозначенные (*) - обязательны для заполнения
                            button.btn_default(type="submit") Отправить заявку

