main
    .page_content
        .container
            ul.breadcrumb
                li
                    a(href="#") Главная
                li
                    a(href="#") Каталог
                li
                    a(href="#") Блоки питания
                li
                    a(href="#") #{page.title}



            .product_row
                .col_left
                    .product_gallery
                        .label Хит
                        .product_slider
                            -for(var p=1;p<=5;p++)
                                .item
                                    a(href="img/big.png" data-fancybox="product")
                                        img(src="img/big.png")
                        .product_slider_nav
                            -for (var p = 1; p <= 5; p++)
                                .item
                                    span
                                        img(src="img/big.png")

                .col_right
                    .product_info
                        h1.product_title #{page.title}
                        .articul Артикул: 12389234
                        .availability
                            span.red Под заказ
                        .price 148 BYN/шт
                        .amount_btn
                            .amount
                                span.down -
                                input(type="text" value="1")
                                span.up +
                            a.btn_default(href="#") В корзину

                .col_bottom
                    .box_title
                        .title Технические характеристики
                    ul.options
                        li
                            strong Тип диода
                            span  DJKS2345KL
                        li
                            strong Цвет свечения
                            span Тёплый белый
                        li
                            strong Входное напряжение
                            span 12В
                        li
                            strong Мощность
                            span 9.6Вт
                        li
                            strong Угол свечения
                            span 120
                        li
                            strong Влагозащита
                            span IP33


            .related_products
                .box_title
                    .title Сопутствующие товары
                .products_list.m_products_slider
                    -for (var p = 1; p <= 6; p++)
                        .product_item
                            .product_item_content
                                .img_thumbnail
                                    .label Хит
                                    a(href="#")
                                        img(src="img/product_item.png")
                                .articul Артикул: 12389234
                                a.product_name(href="#") Блок питания Venom Негерметичный 12V 15Вт
                                .price 148 BYN
                                a.btn_default(href="#") В корзину
