main
    .page_content
        .container
            ul.breadcrumb
                li
                    a(href="#") Главная
                li
                    a(href="#") #{page.title}


            h1.page_title #{page.title}
            .c_row
                .c_row_item
                    .c_row_item_content
                        .box_title
                            .title
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 7V17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18H1C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17V7H20ZM20 5H0V1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H19C19.2652 0 19.5196 0.105357 19.7071 0.292893C19.8946 0.48043 20 0.734784 20 1V5ZM13 13V15H17V13H13Z" fill="#00A483"/>
                                </svg>

                                span Реквизиты
                        p Наименование: ООО “ЛедПремиум”
                        p Полное наименование “Общество с ограниченной  отвественностью  “ЛедПремиум”
                        p УНП: 192788177
                        p Рач/сч для юр.лица: РОUIKD1234241240909
                        p Банк: ЗАО Альфа-банк г.Минск пр-т Победителей 100
                        p Код банка: 123421
                        p Юр. адрес: 220035 г.Минск ул.Тимирязева д.67 пом 94
                        p Директор: Василевский Николай Игоревич, действующий на основании Устава
                .c_row_item
                    .c_row_item_content
                        .box_title
                            .title
                                <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.3125 0.25C2.56658 0.25 1.85121 0.546316 1.32376 1.07376C0.796316 1.60121 0.5 2.31658 0.5 3.0625V19.9375C0.5 20.6834 0.796316 21.3988 1.32376 21.9262C1.85121 22.4537 2.56658 22.75 3.3125 22.75H18.2188C18.4425 22.75 18.6571 22.6611 18.8154 22.5029C18.9736 22.3446 19.0625 22.13 19.0625 21.9062C19.0625 21.6825 18.9736 21.4679 18.8154 21.3096C18.6571 21.1514 18.4425 21.0625 18.2188 21.0625H3.3125C3.01413 21.0625 2.72798 20.944 2.517 20.733C2.30603 20.522 2.1875 20.2359 2.1875 19.9375H18.2188C18.4425 19.9375 18.6571 19.8486 18.8154 19.6904C18.9736 19.5321 19.0625 19.3175 19.0625 19.0938V3.0625C19.0625 2.69316 18.9898 2.32743 18.8484 1.9862C18.7071 1.64497 18.4999 1.33493 18.2387 1.07376C17.9776 0.812597 17.6675 0.60543 17.3263 0.464089C16.9851 0.322747 16.6193 0.25 16.25 0.25H3.3125ZM13.4375 11.7812V12.3438C13.4375 13.4688 11.8816 14.3125 9.78125 14.3125C7.68087 14.3125 6.125 13.4688 6.125 12.3438V11.7812C6.125 11.5575 6.2139 11.3429 6.37213 11.1846C6.53036 11.0264 6.74497 10.9375 6.96875 10.9375H12.5938C12.8175 10.9375 13.0321 11.0264 13.1904 11.1846C13.3486 11.3429 13.4375 11.5575 13.4375 11.7812ZM11.75 7.83812C11.75 8.36027 11.5426 8.86103 11.1734 9.23024C10.8042 9.59945 10.3034 9.80688 9.78125 9.80688C9.2591 9.80688 8.75835 9.59945 8.38913 9.23024C8.01992 8.86103 7.8125 8.36027 7.8125 7.83812C7.8125 6.7525 8.69337 5.875 9.78125 5.875C10.8691 5.875 11.75 6.75137 11.75 7.83812Z" fill="#00A483"/>
                                </svg>

                                span Контактные данные

                        p Беларусь, г. Минск, пр-т Победителей, 129 (вход со стороны проспекта)
                        p +375 29 377-54-22 (многоканальный)
                        p mail@ledpremium.by

.map.text_center
    img(src="img/image13.png")

.page_content
    .container
        .c_row
            .c_row_item
                .c_row_item_content
                    .box_title
                        .title
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 0.5C5.20156 0.5 0.5 5.20156 0.5 11C0.5 16.7984 5.20156 21.5 11 21.5C16.7984 21.5 21.5 16.7984 21.5 11C21.5 5.20156 16.7984 0.5 11 0.5ZM15.1367 14.2273L14.4664 15.1414C14.4518 15.1613 14.4335 15.1781 14.4124 15.1909C14.3913 15.2037 14.3678 15.2122 14.3434 15.2159C14.319 15.2196 14.2942 15.2184 14.2702 15.2125C14.2463 15.2065 14.2237 15.1959 14.2039 15.1813L10.3273 12.3547C10.3032 12.3373 10.2836 12.3145 10.2701 12.2879C10.2566 12.2614 10.2497 12.2321 10.25 12.2023V5.75C10.25 5.64687 10.3344 5.5625 10.4375 5.5625H11.5648C11.668 5.5625 11.7523 5.64687 11.7523 5.75V11.5508L15.0945 13.9672C15.1789 14.0258 15.1977 14.143 15.1367 14.2273Z" fill="#00A483"/>
                            </svg>

                            span Время приёма заказов
                    p
                        strong По телефону:
                    p Понедельник - пятница  с 9.00 до 18.00
                    p Суббота с 10.00 до 14.00
                    p Воскресенье выходной
                    p
                        strong Через интернет круглосуточно
            .c_row_item
                .c_row_item_content
                    .box_title
                        .title
                            <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.3125 0.25C2.56658 0.25 1.85121 0.546316 1.32376 1.07376C0.796316 1.60121 0.5 2.31658 0.5 3.0625V19.9375C0.5 20.6834 0.796316 21.3988 1.32376 21.9262C1.85121 22.4537 2.56658 22.75 3.3125 22.75H18.2188C18.4425 22.75 18.6571 22.6611 18.8154 22.5029C18.9736 22.3446 19.0625 22.13 19.0625 21.9062C19.0625 21.6825 18.9736 21.4679 18.8154 21.3096C18.6571 21.1514 18.4425 21.0625 18.2188 21.0625H3.3125C3.01413 21.0625 2.72798 20.944 2.517 20.733C2.30603 20.522 2.1875 20.2359 2.1875 19.9375H18.2188C18.4425 19.9375 18.6571 19.8486 18.8154 19.6904C18.9736 19.5321 19.0625 19.3175 19.0625 19.0938V3.0625C19.0625 2.69316 18.9898 2.32743 18.8484 1.9862C18.7071 1.64497 18.4999 1.33493 18.2387 1.07376C17.9776 0.812597 17.6675 0.60543 17.3263 0.464089C16.9851 0.322747 16.6193 0.25 16.25 0.25H3.3125ZM13.4375 11.7812V12.3438C13.4375 13.4688 11.8816 14.3125 9.78125 14.3125C7.68087 14.3125 6.125 13.4688 6.125 12.3438V11.7812C6.125 11.5575 6.2139 11.3429 6.37213 11.1846C6.53036 11.0264 6.74497 10.9375 6.96875 10.9375H12.5938C12.8175 10.9375 13.0321 11.0264 13.1904 11.1846C13.3486 11.3429 13.4375 11.5575 13.4375 11.7812ZM11.75 7.83812C11.75 8.36027 11.5426 8.86103 11.1734 9.23024C10.8042 9.59945 10.3034 9.80688 9.78125 9.80688C9.2591 9.80688 8.75835 9.59945 8.38913 9.23024C8.01992 8.86103 7.8125 8.36027 7.8125 7.83812C7.8125 6.7525 8.69337 5.875 9.78125 5.875C10.8691 5.875 11.75 6.75137 11.75 7.83812Z" fill="#00A483"/>
                            </svg>

                            span Доставка и самовывоз
                    p <strong>Время доставки:</strong> 18.00 - 22.00
                    p <strong>Дни доставки:</strong> вторник, среда, пятница
                    p Обращаем Ваше внимание, что время доставки может меняться, в зависимости от количества развозимых товаров, а также просим Вас заранее уточнять о наличии интересующего товара
                    p <strong>Самовывоз:</strong> Вы можете произвести по предварительному согласованию по адресу пр-т Победителей, 129 (вход са стороны проспекта, цокольный этаж)




